
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminDashboard</title>
</head>
<body>
</body>
</html>

<form asp-controller="Home" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Log Out</button>
</form>

<div>
    <a asp-controller="Admin" asp-action="AddCategory" class="btn btn-primary">Kategori Ekle</a>
</div>
<div>
    <a asp-controller="Admin" asp-action="EditCategory" class="btn btn-info">Kategorileri Düzenle</a>
</div>
<div>
    <a asp-controller="Admin" asp-action="ListProducts" class="btn btn-primary">Ürünler</a>
</div>

